@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */
div.adsbox {
  display: none;
}

a {
  cursor: pointer;
}

.banner {
  background-color: #404040;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 500px) {
  .banner {
    padding: 5px;
  }
}
.banner a#logo {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 3px;
}
.banner a#logo img {
  width: auto;
  max-height: 50px;
}
@media (max-width: 768px) {
  .banner a#logo img {
    max-height: 30px;
  }
}
.banner h1#title {
  flex-grow: 1;
  margin-right: 10px;
  font-size: 22px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
@media (max-width: 768px) {
  .banner h1#title {
    font-size: 16px;
  }
}
.banner .social-button-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.banner .social-button-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .banner .social-button-bar a.story-map-link {
    display: none;
  }
}

.banner {
  flex-shrink: 0;
}

.div-icon {
  background-color: white;
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  border: solid;
  border-width: 1px;
}

#main {
  flex: 1;
  display: flex;
  position: relative;
  height: 100%;
  /*map*/
}
#main #map {
  flex: 1;
  background-color: white;
}
#main #map .easy-button-button {
  font-size: 18px;
  cursor: pointer;
}
#main #map .leaflet-popup-content div:nth-child(1), #main #map .tooltip-map div:nth-child(1) {
  font-weight: bold;
}
#main #map .leaflet-popup-content div:nth-child(2), #main #map .tooltip-map div:nth-child(2) {
  font-style: italic;
}
#main #map .leaflet-popup-content {
  text-align: center;
}
#main #container {
  flex: 1;
  background: white;
  height: 100%;
  width: 50%;
  max-width: 700px;
  z-index: 2000;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
@media (max-width: 768px) {
  #main #container {
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: none;
    max-height: 50%;
    left: auto;
    top: auto;
    bottom: 0px;
    padding: 10px;
  }
}
#main #container > div:nth-of-type(1) {
  display: flex;
  padding: 10px;
}
#main #container > div:nth-of-type(1) select {
  font-size: 20px;
  padding: 5px;
  flex-basis: 50%;
}
#main #container > div:nth-of-type(1) select:nth-of-type(1) {
  margin-right: 5px;
}
#main #container > div:nth-of-type(1) select:nth-of-type(2) {
  margin-left: 5px;
}
@media (max-width: 450px) {
  #main #container > div:nth-of-type(1) {
    flex-direction: column;
  }
  #main #container > div:nth-of-type(1) select {
    font-size: 16px;
  }
  #main #container > div:nth-of-type(1) select:nth-of-type(1) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #main #container > div:nth-of-type(1) select:nth-of-type(2) {
    margin-left: 0px;
  }
}
#main #container div#filterByMap {
  font-size: 20px;
  padding: 10px;
  padding-bottom: 10px;
}
#main #container div#filterByMap input {
  cursor: pointer;
}
@media (max-width: 450px) {
  #main #container div#filterByMap {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
#main #container div#locationFilterBadge {
  padding: 10px;
  margin-bottom: 10px;
}
#main #container div#locationFilterBadge > span:nth-of-type(1):before {
  content: "Showing only videos for...";
}
#main #container div#locationFilterBadge div:nth-child(2) {
  margin-top: 5px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#main #container div#locationFilterBadge div:nth-child(2) span {
  flex-basis: 100%;
  flex-grow: 1;
}
#main #container div#locationFilterBadge div:nth-child(2) button {
  background: none;
  border: none;
  font-size: 24px;
  padding-left: 2px;
  padding-right: 2px;
  flex-shrink: 0;
  cursor: pointer;
}
#main #container div#locationFilterBadge div:nth-child(2) button:before {
  content: "X";
}
@media (max-width: 450px) {
  #main #container div#locationFilterBadge {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
#main #container ul#table {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
#main #container ul#table li {
  padding: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  background-color: rgba(111, 111, 111, 0.4);
  width: 45%;
  height: 180px;
  margin: 5px;
}
@media (max-width: 400px) {
  #main #container ul#table li {
    width: 100%;
    margin: 0px;
  }
}
#main #container ul#table li:hover {
  background-color: rgba(111, 111, 111, 0.6);
}
#main #container ul#table li:hover button div.veil {
  background-color: rgba(0, 0, 0, 0);
}
#main #container ul#table li:nth-of-type(1) {
  padding-top: 10px;
}
#main #container ul#table li button {
  padding: 5px;
  cursor: pointer;
  flex: 1;
  background: none;
  border: none;
  text-align: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}
#main #container ul#table li button:focus {
  outline: 3px solid blue;
}
#main #container ul#table li button * {
  pointer-events: none;
}
#main #container ul#table li button h3, #main #container ul#table li button h4 {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#main #container ul#table li button h3 {
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: -2px;
  padding: 5px;
}
#main #container ul#table li button h4 {
  margin-top: 0px;
  margin-left: 2px;
}
#main #container ul#table li button div.veil {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#main #container ul#table li button div.veil button {
  display: none;
  margin-top: 0px;
  background-image: url("../resources/play-button-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  align-self: center;
}
#main #container ul#table li.active button div.veil {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
}
#main #container ul#table li.active button div.veil button {
  display: block;
  pointer-events: all;
}
#main #container ul#table.filtered li {
  display: none;
}
#main #container ul#table.filtered li.selected {
  display: flex;
}
#main #container ul#table {
  height: 100%;
  width: 100%;
}
#main #container div#video-display {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3000;
  top: 0px;
  left: 0px;
  background: white;
  display: none;
}
#main #container div#video-display.active {
  display: flex;
  flex-direction: column;
}
#main #container div#video-display > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  background: black;
}
#main #container div#video-display > div:nth-child(1) button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 40px;
  color: white;
}
#main #container div#video-display > div:nth-child(1) button:before {
  content: "×";
}
#main #container div#video-display > iframe:nth-child(2) {
  position: relative;
  flex: 1;
}

/*# sourceMappingURL=main.css.map */
