@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* keeps things from getting wiggy on touch */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hides adobe analytics white stripe */
div.adsbox {
  display: none;
}

a {
  cursor: pointer;
}

.banner {
  background-image: url("../resources/bac-citylore-teal.jpg");
  background-repeat: repeat;
  background-position: right top;
  background-size: 1000px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .banner {
    padding: 5px;
  }
}
.banner a#logo {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 3px;
}
.banner a#logo img {
  width: auto;
  max-height: 50px;
}
@media (max-width: 1023px) {
  .banner a#logo img {
    max-height: 30px;
  }
}
.banner h1#title {
  flex-grow: 1;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .banner h1#title {
    font-size: 16px;
  }
}
.banner .social-button-bar {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.banner .social-button-bar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .banner .social-button-bar a.story-map-link {
    display: none;
  }
}

.banner {
  flex-shrink: 0;
}

.div-icon {
  background-color: white;
  padding: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 18px;
  border: solid;
  border-width: 1px;
}

#main {
  flex: 1;
  display: flex;
  position: relative;
  height: 100%;
  /*map*/
  /* container */
  /*video-display*/
}
#main #map {
  flex: 1;
}
#main #map .easy-button-button {
  font-size: 18px;
  cursor: pointer;
}
#main #map .leaflet-popup-content div:nth-child(1), #main #map .tooltip-map div:nth-child(1) {
  font-weight: bold;
}
#main #map .leaflet-popup-content div:nth-child(2), #main #map .tooltip-map div:nth-child(2) {
  font-style: italic;
}
#main #map .leaflet-popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main #map .leaflet-popup-content div:nth-child(3) {
  width: 200px;
  height: 150px;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #map .leaflet-popup-content div:nth-child(3) button {
  width: 80px;
  height: 80px;
  background-color: inherit;
  background-image: url("../resources/play-button-icon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  display: none;
}
#main #map .leaflet-popup-content div:nth-child(3):hover button {
  display: block;
}
#main #container {
  flex: 1;
  height: 100%;
  flex-basis: 50%;
  max-width: 700px;
  z-index: 2000;
  left: 0px;
  top: 0px;
  background-color: #7faeb4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
@media (max-width: 1023px) {
  #main #container {
    position: absolute;
    padding: 10px;
    width: 100%;
    max-width: none;
    max-height: 60%;
    left: auto;
    top: auto;
    bottom: 0px;
    padding: 10px;
  }
}
@media (max-width: 1023px) and (max-height: 800px) {
  #main #container {
    height: initial;
  }
}
#main #container > div:nth-of-type(1) {
  display: flex;
  padding: 10px;
}
#main #container > div:nth-of-type(1) select {
  font-size: 20px;
  padding: 5px;
  flex-basis: 50%;
  background-color: #176f7b;
  color: white;
  border: none;
}
#main #container > div:nth-of-type(1) select:nth-of-type(1) {
  margin-right: 5px;
}
#main #container > div:nth-of-type(1) select:nth-of-type(2) {
  margin-left: 5px;
}
@media (max-width: 450px) {
  #main #container > div:nth-of-type(1) {
    flex-direction: column;
  }
  #main #container > div:nth-of-type(1) select {
    font-size: 16px;
  }
  #main #container > div:nth-of-type(1) select:nth-of-type(1) {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  #main #container > div:nth-of-type(1) select:nth-of-type(2) {
    margin-left: 0px;
  }
}
#main #container div#filterByMap {
  font-size: 20px;
  padding: 10px;
  padding-bottom: 10px;
}
#main #container div#filterByMap input {
  cursor: pointer;
}
@media (max-width: 450px) {
  #main #container div#filterByMap {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
#main #container div#locationFilterBadge {
  padding: 10px;
  margin: 10px;
  background-color: #176f7b;
  color: white;
}
#main #container div#locationFilterBadge > span:nth-of-type(1):before {
  content: "Showing only videos for...";
}
#main #container div#locationFilterBadge div:nth-child(2) {
  margin-top: 5px;
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
#main #container div#locationFilterBadge div:nth-child(2) span {
  flex-basis: 100%;
  flex-grow: 1;
}
#main #container div#locationFilterBadge div:nth-child(2) button {
  color: white;
  background: none;
  border: none;
  font-size: 24px;
  padding-left: 2px;
  padding-right: 2px;
  flex-shrink: 0;
  cursor: pointer;
}
#main #container div#locationFilterBadge div:nth-child(2) button:before {
  content: "X";
}
@media (max-width: 450px) {
  #main #container div#locationFilterBadge {
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
#main #container ul#table {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* li */
}
#main #container ul#table > li {
  padding: 5px;
  margin-top: 10px;
  background-color: rgba(215, 229, 230, 0.5);
  display: flex;
  justify-content: flex-start;
}
#main #container ul#table > li > button {
  padding: 5px;
  cursor: pointer;
  flex: 1;
  background: none;
  border: none;
  text-align: left;
  overflow: hidden;
  position: relative;
}
#main #container ul#table > li > button:focus {
  outline: 2px solid gray;
}
#main #container ul#table > li > button * {
  pointer-events: none;
}
#main #container ul#table > li > button > div:nth-of-type(1) {
  /*thumbnail*/
  float: left;
  width: 240px;
  height: 180px;
  margin-right: 15px;
  margin-bottom: 5px;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
}
@media (max-width: 400px) {
  #main #container ul#table > li > button > div:nth-of-type(1) {
    width: 140px;
    height: 90px;
  }
}
#main #container ul#table > li > button > div:nth-of-type(1) > button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url("../resources/play-button-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  align-self: center;
  pointer-events: all;
}
#main #container ul#table > li > button > h3, #main #container ul#table > li > button > h4, #main #container ul#table > li > button > p {
  color: black;
}
#main #container ul#table > li > button > h3 {
  margin-top: -3px;
  margin-bottom: 0px;
  margin-left: -2px;
  padding: 5px;
  font-size: 18px;
}
#main #container ul#table > li > button > h4 {
  margin-top: 0px;
  margin-left: 2px;
  font-size: 16px;
  font-weight: normal;
}
#main #container ul#table > li > button > p {
  font-size: 16px;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#main #container ul#table > li:hover {
  background-color: rgba(215, 229, 230, 0.7);
}
#main #container ul#table > li.active {
  background-color: #d7e5e6;
}
#main #container ul#table > li.active button > div:nth-of-type(1) button {
  display: block;
}
#main #container ul#table > li.active button > p {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: unset;
}
#main #container ul#table.filtered li {
  display: none;
}
#main #container ul#table.filtered li.selected {
  display: flex;
}
#main #container ul#table {
  height: 100%;
  width: 100%;
}
@media (max-width: 1023px) and (max-height: 800px) {
  #main #container ul#table {
    display: none;
  }
}
#main div#video-display {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3000;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
#main div#video-display.active {
  display: flex;
  flex-direction: column;
}
#main div#video-display > div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 10px;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}
#main div#video-display > div:nth-child(1) button {
  cursor: pointer;
  background: black;
  border: none;
  font-size: 40px;
  color: white;
}
#main div#video-display > div:nth-child(1) button:before {
  content: "×";
}
#main div#video-display > iframe:nth-child(2) {
  position: relative;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  width: 96%;
  flex: 1;
}

/*main*/

/*# sourceMappingURL=main.css.map */
