#categoryCheckList {

  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  
  li {
    button {
      margin: 0px;
      text-align: left;
      cursor: pointer;
      * {
        pointer-events: none;
      }      
      &.active {
        background: gray;
        color: silver;
      }
    }
  }
  
}
