ul#table {

  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;

  overflow: hidden;
  overflow-y: auto;
  
  -webkit-overflow-scrolling: touch;
  
  display: flex;
  flex-direction: column;
  
  li {
    
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-basis: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    margin-top: 1px;
    
    &:nth-of-type(1) {
      margin-top: 0px;
      padding-top: 10px;
    }
    
    & > button {
      padding: 5px;
      cursor: pointer;
      flex: 1;
      background: none;
      border: none;
      text-align: left;
      display: flex;
      overflow: hidden;
      position: relative;
      &:focus {
        outline: 3px solid blue;
      }
      * {
        pointer-events: none;
      }
      & > div:nth-of-type(1) {
        width: 240px;
        height: 180px;
        @media (max-width: 400px) {
          width: 140px;
          height: 90px;
        }
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        & > button {
          display: none;
          margin-top: 0px;
          background: none;
          border: none;
          cursor: pointer;
          background-image: url("../resources/play-button-icon.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          width: 80px;
          height: 80px;
          align-self: center;
          pointer-events: all;
        }
      }
      & > div:nth-of-type(2) {
        padding: 7px;
        overflow: hidden;
        height: 180px;

        h3, h4 {
          color: black;
        }
        h3 {
          margin-top: -3px;
          margin-bottom: 0px;
          margin-left: -2px;
          padding: 5px;
        }
        h4 {
          margin-top: 0px;
          margin-left: 2px;
        }
        & > div {
          flex-grow: 0;
        }
      }
      div.veil {
        background-color: rgba(0,0,0,0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
      }
    }
    &:hover {
      button {
        div.veil {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
    &.active {
      button {
        & > div:nth-of-type(1) {
          button {
            display: block;
          }
        }
        & > div:nth-of-type(2) {
          height: inherit;
        }
        div.veil {
          display: none;
        }
      }
    }
  }
  &.filtered {
    li {
      display: none;
      &.selected {
        display: flex;
      }
    }
  }
}
